%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$site-width: 1000px;
$baseline: 3rem;

:root {
  font-size: 14px;
}

body {
  margin: 0;
  width: 100%;
}

#app {
  background: #eee;
  margin: 0;
  height: 220vh;
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  max-width: 100%;

  main {
    background: blue;
    margin: 0 auto;
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;

    section.trending {
      height: 100vh;
      // background-image: url("../src/assets/profile.png");
      div.shoes {
        width: 50vw;
        height: inherit;
        position: absolute;

        div.shoes {
          background: red;
          display: inline-block;
          height: 55px;
          margin-left: 20px;
          margin-top: 55px;
          position: relative;
          width: 100px;
        }
        div.shoes:before {
          border-bottom: 35px solid red;
          border-left: 50px solid transparent;
          border-right: 50px solid transparent;
          content: "";
          height: 0;
          left: 0;
          position: absolute;
          top: -35px;
          width: 0;
        }

        //   img {
        //     object-fit: cover;
        //     height: 100%;
        //     width: 100%;
        //   }
        // }
        // div.hoodie {
        //   width: 50vw;
        //   position: absolute;
        //   right: 0px;

        //   img {
        //     object-fit: cover;
        //     height: 100vh;
        //     width: 100%;
        //   }
        // }

        header {
          position: absolute;
          width: 100%;

          section {
            display: flex;
            flex-direction: row;
            margin: 0;
            height: 60px;

            div.input {
              flex: 5;
              @extend %center;

              input {
                font-size: 1.5rem;
              }
            }
            aside.cart {
              flex: 0.5;

              img {
                max-height: 100%;
                float: right;
              }
            }
            aside.profile {
              flex: 0.5;

              img {
                max-height: 100%;
                float: right;
              }
            }
          }

          nav {
            position: absolute;
            height: inherit;

            ul {
              list-style: none;
              margin-top: 10vh;

              li {
                line-height: 50px;

                a:link {
                  text-decoration: none;
                  font-size: 1.3rem;
                }
              }
            }
          }
        }
      }
    }
    section.tops {
      background: brown;
      flex: 1;

      section.kategories {
        background: pink;
      }
    }
    section.shoes {
      background: rgb(213, 191, 69);
      flex: 1;

      section.kategories {
        background: pink;
      }
    }
  }
  section.footer {
    height: 20vh;
    background: lawngreen;
  }
}
